.rooms-side{
  min-width: 250px;
  width: 350px;
  position: relative;
  border-right: 1px solid $separateCol;
  background-color: $themeCol;
  &__inner{
    overflow: hidden;
    max-height: calc(100vh - 60px);
    &:hover{
      overflow-y: auto;
    }
    @extend %scroll-light;
  }
  &__resize{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    cursor: e-resize
  }
  &__header{
    padding: 5px 12px 5px 3px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__menu-btn{
    padding: 11px;
    height: 44px;
  }
  &__search{
    flex: 1 1 auto;
    max-width: 100%;
  }
  &__absent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__absent-text{
    margin-top: 25px;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: $notifyCol;
    font-size: 14px;
  }
}

.room-link{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  &:hover{
    background-color: $hoverCol;
  }
  &--active:hover, &--active{
    background-color: $selectCol;
  }
  &__img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  &__info{
    width: calc(100% - 50px);
  }
  &__name{
    margin-bottom: 3px;
    color: white;
  }
  &__description{
    color: $minorFontCol;
    &--active{
      color: $majorFontCol;
    }
  }
  &__description, &__name{
    font-size: 14px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.search{
  display: flex;
  align-items: center;
  &__icon{
    height: 16px;
    margin: 13px 13px 13px 19px;
  }
  &__clear{
    margin-right: 23px;
    height: 13px;
    &--disabled{
      display: none;
    }
  }
}