$disabledCol: #DBDBDB;
$activeCol: #32A8E6;
$errorCol: #DE3A3A;
$themeCol: #17212B;
$separateCol: #0A121B;
$placeholderCol: #6D7883;
$placeholderActiveCol: #4C5865;
$minorFontCol: #708499;
$selectCol: #2B5278;
$hoverCol: #202B36;
$backgroundCol: #0E1621;