$disabledCol: #DBDBDB;
$activeCol: #32A8E6;
$errorCol: #DE3A3A;
$themeCol: #17212B;
$separateCol: #101921;
$placeholderCol: #6D7883;
$placeholderActiveCol: #4C5865;
$minorFontCol: #708499;
$selectCol: #2B5278;
$messageCol: #182533;
$notifyCol: #232E3C;
$activeFontCol: #5DB2F2;
$hoverCol: #202B36;
$backgroundCol: #0E1621;
$majorFontCol: #F5F5F5;