@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import '_reset';
@import '_variables';
@import '_mixins';

@import 'UI';
@import 'navbar';
@import 'sign';
@import 'profile';
@import 'rooms';
@import 'menu';
@import 'messages';
@import 'current-room';

html, body{
  height: 100%;
  overflow: hidden;
}

body{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
}
h6{
  font-size: 16px;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main{
  flex: 1 0 auto;
}

.feed{
  display: flex;
  &__room{
    flex: 1 1 auto;
    background-color: $backgroundCol;
    color: white;
  }
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  &__img{
    width: 50px;
  }
}

.avatar{
  width: 100px;
}

@import '_media';