.side-menu{
  &__header{
    padding: 20px 22px 14px;
    border-bottom: 1px solid $separateCol;
  }
  &__footer{
    margin: 0 25px 20px;
    color: $minorFontCol;
  }
  &__footer-title{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
  }
  &__footer-info{
    font-size: 14px;
    font-weight: 300;
  }
  &__footer-about{
    cursor: pointer;
  }
  &__footer-source:hover, &__footer-about:hover{
    border-bottom: 1px solid $minorFontCol;
  }
  &__bg--active{
    z-index: 10000;
    background-color: rgba(0, 0, 0, .47);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  &__inner{
    z-index: 10000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $themeCol;
    width: 275px;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.25s;
    color: white;
    display: flex;
    flex-direction: column;
  }
  &__nav{
    flex: 1 1 auto;
  }
  &__inner--active{
    transform: translateX(0%);
  }
}

.nav{
  margin-top: 7px;
  &__img{
    height: 22px;
  }
  &__link:hover{
    background-color: #232E3C;
  }
  &__link{
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}