.navbar{
  color: #fff;
  background-color: #517DA2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

