.navbar{
    color: #fff;
    background-color: #C38D9E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

