.profile-pane{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 17px;
  font-size: 13px;
  &__name{
    color: #ffffff;
    margin-bottom: 0px;
  }
  &__info, &__img{
    cursor: pointer;
  }
  &__email{
    color: $minorFontCol;
  }
  &__info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  &__img{
    height: 50px;
    border-radius: 50%;
  }
}