.sign-up, .sign-in{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEEF2;
  &__inner{
    background-color: #fff;
    padding: 40px 60px;
    //border: 2px solid $activeCol;
    //border-radius: 9px;
  }
  &__error{
    margin-bottom: 10px;
    width: 250px;
  }
  &__title{
    margin-bottom: 15px;
  }
  &__input-box, &__input{
    width: 100%;
    min-width: 250px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
  }
  &__button{
    margin-top: 15px;
  }
  &__link{
    color: $activeCol;
  }
}