.input{
  all: unset;
  min-width: 200px;
  border-bottom: 1px solid $disabledCol;
  padding: 6px 0;
  &:focus{
    border-bottom: 2px solid $activeCol;
    padding: 6px 0 5px 0;
  }
  &--error{
    border-bottom: 2px solid $errorCol;
    padding: 6px 0 5px 0;
  }
}

.input-fill-primary{
  padding: 8px 10px 8px 14px;
  background-color: #242F3D;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img-box{
    &--disabled{
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
  }
  &__img--disabled{
    height: 100%;
  }
  &__img-box:hover &__img--disabled{
    display: none;
  }
  &__img--active{
    height: 100%;
    cursor: pointer;
    display: none;
  }
  &__img-box:hover &__img--active{
    display: block;
  }
  &__elem{
    all: unset;
    width: 100%;
    margin-right: 10px;
    color: #F5F5F5;
    font-size: 14px;
  }
  &__elem::placeholder{
    color: $placeholderCol;
    transition: .2s;
  }
  &__elem:focus::placeholder{
    color: $placeholderActiveCol;
  }
 }

.label-error{
  max-width: 100%;
  color: $errorCol;
}

.password-input{
  display: flex;
  align-items: center;
  position: relative;
  &__elem{
    width: 100%;
    width: 200px;
    border: none;
    border-bottom: 1px solid $disabledCol;
    padding: 6px 30px 6px 0;
  }
  &__elem--error{
    border-bottom: 2px solid $errorCol;
    padding: 6px 30px 5px 0;
  }
  &__elem:focus{
    border-bottom: 2px solid $activeCol;
    padding: 6px 30px 5px 0;
  }
  &__view{
    position: absolute;
    right: 0px;
    height: 25px;
  }
}

.button-medium{
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 12px 25px;
  border-radius: 4px;
  min-width: 150px;
  background-color: $activeCol;
  &:disabled{
    right: 70px;
    background-color: $disabledCol;
  }
}

.button-line-regular{
  color: white;
  border: 1px solid white;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 10px 25px;
  border-radius: 7px;
  min-width: 150px;
  background-color: transparent;
  &:disabled{
    right: 70px;
    background-color: $disabledCol;
  }
}

.burger-menu{
  cursor: pointer;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  &__img--disabled{
    width: 100%;
  }
  &:hover &__img--disabled{
    display: none;
  }
  &__img--active{
    width: 100%;
    cursor: pointer;
    display: none;
  }
  &:hover &__img--active{
    display: block;
  }
}

.temporary-error{
  color: $errorCol;
}

.error{
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8px 10px;
  border-radius: 3.16667px;
}

.loader-regular {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(38,50,56,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &__spinner{
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 3px solid transparent;
    border-top: 3px solid #fff;
    animation: spinLoader .8s linear infinite;
  }
}

.loader-large {
  z-index: 10000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner{
    border-radius: 17px;
    width: 81px;
    height: 81px;
    background-color: #EDEEF2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__spinner{
    display: inline-block;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 3px solid transparent;
    border-top: 3px solid #6B7278;
    animation: spinLoader .8s linear infinite;
  }
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}

.modal{
  z-index: 10000;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .47);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__inner{
    margin-top: 40px;
    background-color: $themeCol;
    width: 390px;
    border-radius: 8px;
  }
  &__separate{
    width: 100%;
    height: 9px;
    background: $notifyCol;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    flex: 1 auto;
    font-size: 16px;
    margin-left: 20px;
    user-select: none;
  }
  &__header-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__dots-btn{
    width: 30px;
    height: 60px;
    padding: 21px 0;
  }
  &__close-btn{
    width: 50px;
    height: 55px;
    padding: 21px 0;
  }
  &__main{
    overflow-y: auto;
    max-height: 80vh;
    &::-webkit-scrollbar-track{
      background-color: rgba(#2F3841, .5);
    }
    &::-webkit-scrollbar{
      width: 3px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #696F74;
      border-radius: 1px;
    }
  }
  &__room-preview{
    display: flex;
    align-items: center;
    margin: 15px 20px;
  }
  &__room-img-box{
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    min-width: max-content;
  }
  &__room-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  &__room-title{
    color: $majorFontCol;
    margin-bottom: 3px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__room-count-sub{
    font-size: 13px;
    color: $minorFontCol;
    user-select: none;
  }
  &__room-data{
    margin: 20px 25px;
    display: flex;

  }
  &__room-data-icon{
    margin-top: 8px;
    height: 22px;
    margin-right: 30px;
  }
  &__invite{
    margin-bottom: 18px;
  }
  &__invite-btn{
    border: none;
    background-color: transparent;
    color: $authorSmsCol;
    font-size: 13px;
    margin-bottom: 2px;
    cursor: pointer;
  }
  &__invite-label, &__description-label{
    color: $minorFontCol;
    font-size: 13px;
    user-select: none;
  }
  &__description-text{
    color: $majorFontCol;
    font-size: 13px;
    margin-bottom: 2px;
  }
  &__room-action{
    margin-top: 8px;
    margin-bottom: 13px;
  }
  &__leave-btn, &__room-members-btn{
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: transparent;
    color: $majorFontCol;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 25px;
    &:hover{
      background-color: $hoverCol;
    }
  }
  &__leave-icon{
    height: 18px;
    margin-right: 28px;
  }
  &__room-members-btn{
    padding: 7px 0 7px 23px;
    max-height: 38px;
  }
  &__room-members-icon{
    height: 25px;
    margin-right: 28px;
  }
  &__room-members{
    margin: 8px 0;
  }
}

.btn-hover-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &__img--disabled{
    height: 100%;
  }
  &:hover &__img--disabled{
    display: none;
  }
  &__img--active{
    height: 100%;
    display: none;
  }
  &:hover &__img--active{
    display: block;
  }
}



