.input{
  all: unset;
  min-width: 200px;
  border-bottom: 1px solid $disabledCol;
  padding: 6px 0;
  &:focus{
    border-bottom: 2px solid $activeCol;
    padding: 6px 0 5px 0;
  }
  &--error{
    border-bottom: 2px solid $errorCol;
    padding: 6px 0 5px 0;
  }
}

.input-fill-primary{
  padding: 8px 10px 8px 14px;
  background-color: #242F3D;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img-box{
    &--disabled{
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
  }
  &__img--disabled{
    height: 100%;
  }
  &__img-box:hover &__img--disabled{
    display: none;
  }
  &__img--active{
    height: 100%;
    cursor: pointer;
    display: none;
  }
  &__img-box:hover &__img--active{
    display: block;
  }
  &__elem{
    all: unset;
    width: 100%;
    margin-right: 10px;
    color: #F5F5F5;
    font-size: 14px;
  }
  &__elem::placeholder{
    color: $placeholderCol;
    transition: .2s;
  }
  &__elem:focus::placeholder{
    color: $placeholderActiveCol;
  }
 }

.label-error{
  max-width: 100%;
  color: $errorCol;
}

.password-input{
  display: flex;
  align-items: center;
  position: relative;
  &__elem{
    width: 100%;
    width: 200px;
    border: none;
    border-bottom: 1px solid $disabledCol;
    padding: 6px 30px 6px 0;
  }
  &__elem--error{
    border-bottom: 2px solid $errorCol;
    padding: 6px 30px 5px 0;
  }
  &__elem:focus{
    border-bottom: 2px solid $activeCol;
    padding: 6px 30px 5px 0;
  }
  &__view{
    position: absolute;
    right: 0px;
    height: 25px;
  }
}

.button-medium{
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 12px 25px;
  border-radius: 4px;
  min-width: 150px;
  background-color: $activeCol;
  &:disabled{
    right: 70px;
    background-color: $disabledCol;
  }
}

.button-line-regular{
  color: white;
  border: 1px solid white;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 10px 25px;
  border-radius: 7px;
  min-width: 150px;
  background-color: transparent;
  &:disabled{
    right: 70px;
    background-color: $disabledCol;
  }
}

.burger-menu{
  cursor: pointer;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  &__img--disabled{
    width: 100%;
  }
  &:hover &__img--disabled{
    display: none;
  }
  &__img--active{
    width: 100%;
    cursor: pointer;
    display: none;
  }
  &:hover &__img--active{
    display: block;
  }
}

.temporary-error{
  color: $errorCol;
}

.error{
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8px 10px;
  border-radius: 3.16667px;
}

.loader-regular {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(38,50,56,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &__spinner{
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 3px solid transparent;
    border-top: 3px solid #fff;
    animation: spinLoader .8s linear infinite;
  }
}

.loader-large {
  z-index: 10000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner{
    border-radius: 17px;
    width: 81px;
    height: 81px;
    background-color: #EDEEF2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__spinner{
    display: inline-block;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 3px solid transparent;
    border-top: 3px solid #6B7278;
    animation: spinLoader .8s linear infinite;
  }
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}



